<head>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body style="background-color: whitesmoke;">
    <%- include('layouts/header')-%>
    <%- include('layouts/deleteForm')-%>
    <main>
    <div id="post-layout">
        <form action="../edit/" method="post" encType="multipart/form-data" id="post-form-data" style="position:relative" data-id="<%= review._id %>">
            <fieldset>
                <input type="button" id="delete-button" value="Delete Post" >
                <h3>Edit A Review</h3>
                <label for="title">Title</label><br>
                <input type="text" name="title" size="80" autocomplete="off" value="<%= review.title %>"><br>
                <label for="subtitle">Subtitle</label><br>
                <input type="text" name="subtitle" size="80" autocomplete="off" value="<%= review.subtitle %>"><br>
                <label for="text">Text</label><br>
                <textarea name="text" rows="4" cols="90" autocomplete="off"><%= review.text %></textarea><br>
                <label for="rating">Rating </label>
                <% let ratingString = ''%>
                <% if (review.ratings) { %>
                    <% ratingString = review.ratings[0].icon + review.ratings[0].rating %>
                    <% for (let i = 1; i < review.ratings.length; i++) { %>
                        <% ratingString += ',' + review.ratings[i].icon +  review.ratings[i].rating %>
                    <% } %>
                <% } %>
                    <div id="rating-string" data-rating="<%= ratingString %>"></div>
                <%- include('layouts/ratingControl')  -%>
            </fieldset>
        </form>
        <div></div><br>
        <div id="photo-controls">
            <label for="photo" class="large-button">Add Photo...</label>
            <input type="file" id="photo" name="photo" style="visibility: hidden;">
            <!-- <span style="font-size: xx-large;">🠗 Drag frame corners to crop image 🠗</span> -->
            <span style="font-size: xx-large;">Image will crop to square shape</span>
            <input type="button" id="rotate-clockwise" value="Rotate ↷90°">
            <div id="cropped-frame">
                <canvas id="cropped-canvas"></canvas>
            </div>
            <div>
                <input type="submit" id="submitPost" value="DONE" >
            </div>
        </div>
        <div id="photo-frame">
            <!-- <canvas id="photo-canvas" width="1000" height ="1000"></canvas> -->
            <!-- <canvas id="overlay-canvas" width="800" height ="800"></canvas> -->
        </div>
    </div>
    <img id="temp-img" height="300px" width="300px" src="data:image/<%=review.image[0].contentType%>;base64, <%=review.image[0].data.toString('base64')%>" width="300px" height="300px"> 
    </main>
</body>
<footer>
    <script type="text/javascript" src="/scripts/postFormScript.js"></script>
    <script type="text/javascript" src="/scripts/navbarScript.js"></script>
</footer>