<head>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <%- include('layouts/header')-%>
    <div id="popup"></div>
    <form action="users/signup" method="post" id="signupForm">
        <div class="x-button"></div>
        <fieldset>
            <legend>Sign Up</legend>
            <label for="username">Username</label><br>
            <input type="text" id="username" name="username" autocomplete="off"><br>
            <label for="password">Password</label><br>
            <input type="text" id="password" name="password" autocomplete="off"><br>
            <label for="email">Email</label><br>
            <input type="text" id="email" name="email" autocomplete="off"><br>
            <input type="submit" value="Submit">
        </fieldset>
    </form>
    <form action="users/login" method="post" id="loginForm">
        <div class="x-button"></div>
        <fieldset>
            <legend>Log in</legend>
            <label for="username">Username</label><br>
            <input type="text" id="username" name="username" autocomplete="off"><br>
            <label for="password">Password</label><br>
            <input type="text" id="password" name="password" autocomplete="off"><br>
            <input type="submit" value="Submit">
        </fieldset>
    </form>
    <form action="reviews/create" method="post" encType="multipart/form-data" id="postForm">
        <div class="x-button"></div>
        <fieldset>
            <legend>Make A Post</legend>
            <div id="preview"></div>
            <label for="title">Title</label><br>
            <input type="text" name="title" autocomplete="off"><br>
            <label for="subtitle">Subtitle</label><br>
            <input type="text" name="subtitle" autocomplete="off"><br>
            <label for="rating">Rating </label>
            <%- include('layouts/ratingControl')  -%>
            <label for="text">Text</label><br>
            <textarea name="text" rows="4" cols="50" autocomplete="off"></textarea><br>
            <input type="file" id="image" name="image"><br>
            <input type="submit" value="Submit">
        </fieldset>
    </form>
    <form action="users/logout" method="get" id="logoutForm">
        <div class="x-button"></div>
        <fieldset>
            <legend>Logout?</legend>
            <input type="submit" value="Confirm">
        </fieldset>
    </form>
    <form action="#" method="post" id="profileForm">
        <div class="x-button"></div>
        <fieldset>
            <legend>Profile</legend>
        </fieldset>
    </form>
    <main style="display: inline-block; width: 100%;">
        <% for (let i = 0; i < reviewArray.length; i++) { %>
            <div style="border-style: solid; width: 700px; display: inline-block;">
                <div style="float: left; width: 40%;">
                    <img src="<%= '../../images/' + reviewArray[i].image %>" width="300px" height="300px">
                </div>
                <div style="float: right; width:55%">
                    <h1 style="display: inline-block;" "><%= reviewArray[i].title %></h1><br>
                    <h2 style="display: inline-block;" "><%= reviewArray[i].subtitle %></h2><br>
                    <% for (let r = 0; r < reviewArray[i].ratings.length; r++) { %>
                        <div class="rating">
                            <% let icon = reviewArray[i].ratings[r].icon %>
                            <% let totalIcons = reviewArray[i].ratings[r].rating %>
                            <% for (let count = 0; count < totalIcons; count++) { %>
                                <span><%= icon %></span>
                            <% } %>
                        </div>
                 <% } %>
                    <h4 style="display: inline-block;"><%= reviewArray[i].text %></h4>
                    <p>Posted by <%= reviewArray[i].userid.username%></p>
                </div>
            </div>
        <% } %>
    </main>
    <p id="logged-in">Logged in: <span><%= !!login%></span></p>
</body>
<footer>
    <script src="scripts/script.js"></script> 
</footer>