<head>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <%- include('layouts/header')-%>
    <div id="popup"></div>
    <main>
        <% for (let i = 0; i < reviewArray.length; i++) { %>
            <div class="review-container">
                <div style="float: left; width: 40%;">
                    <img src ="data:image/<%=reviewArray[i].image[0].contentType%>;base64, <%=reviewArray[i].image[0].data.toString('base64')%>" width="300px" height="300px"> 
                </div>
                <div style="float: right; width:55%">
                    <h1 style="display: inline-block;" "><%= reviewArray[i].title %></h1><br>
                    <h2 style="display: inline-block;" "><%= reviewArray[i].subtitle %></h2><br>
                    <% for (let r = 0; r < reviewArray[i].ratings.length; r++) { %>
                        <div class="rating">
                            <% let icon = reviewArray[i].ratings[r].icon %>
                            <% let totalIcons = reviewArray[i].ratings[r].rating %>
                            <% for (let count = 1; count < totalIcons; count++) { %>
                                <span><%=icon%></span>
                            <% } %>
                            <% if(totalIcons > Math.floor(totalIcons)) {%>
                                <span style="position:relative;"><%= icon %><span style="position: absolute; height: 125%; width: 50%; background-color: white; right: 0; opacity: 1;"></span></span>
                            <% } %>
                        </div>
                 <% } %>
                    <h4 style="display: inline-block;"><%= reviewArray[i].text %></h4>
                    <p>Posted by <%= reviewArray[i].userid.username%></p>
                </div>
            </div>
        <% } %>
    </main>
    <p id="logged-in">Logged in: <span><%= !!login%></span></p>
</body>
<footer>
    <script src="scripts/script.js"></script> 
</footer>